<title> Password Reset Final Page </title>

<style>
  .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .alert-danger {
        color: #ff0019;
        background-color: #f5e9ea;
        border-color: #f5c6cb;
    }
</style>
  <!-- Alert messages -->
  <% if (message) { %>
    <div id="alert-message" class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>
  <!-- Alert messages end -->
<section class="hero is-fullheight" style="min-height: 100vh;margin-top: -3rem;">
    <div class="hero-body">
    <div class="container">
        <div class="columns is-centered">
        <div class="column is-half">
            <div class="card">
            <div class="card-content">
                <h1 class="title is-3 has-text-centered">Reset Your Password</h1>
                <form method="POST" action="/user/reset-password?youruniqtoken=<%= token %>">
                <div class="field">
                    <label class="label">New Password</label>
                    <div class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Enter your new password" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control has-icons-left">
                    <input class="input" type="password" name="confirm_password" placeholder="Confirm your new password" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                    <button class="button is-primary is-fullwidth">Reset Password</button>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<script>
    // Hide alert message after 5 seconds
    setTimeout(function() {
    document.getElementById('alert-message').style.display = 'none';
    }, 5000);
</script>
  